#wrap{width: 100%;}
#header{width: 100%;
		background-repeat: repeat-x;
		background-position: 0 0;
		background-image: url(../images/bg_header.jpg);
		}
#header .inner-wrap{width: 1180px; height: 150px; margin: auto; position: relative;}
#header h1{position: absolute; left: 0; top: 50px;}
#header .top-menu{position: absolute; right: 0; top: 10px;}
#header .top-menu dt{}
#header .top-menu dd{float: left; margin-left: 15px;}
#header .top-menu dd a{font-size: 12px;}
#nav{position: absolute; right: 0; top: 60px;}
#gnb{position: relative;} /*서브메뉴 기준*/
#gnb li{float: left; margin-left: 80px;}
#gnb > li:first-child{margin-left: 0;}
#gnb li a{font-size: 18px;}

#gnb li ul{position: absolute; top: 60px; display: none;}
#gnb li ul li{margin-left: 0; margin-right: 15px;}
#gnb li ul li a{font-size: 14px;}
#gnb li.m0 ul{left: 0px;}
#gnb li.m1 ul{left: 185px;}
#gnb li.m2 ul{left: 367px;}
#gnb li.m3 ul{left: 550px;}
#gnb li.m4 ul{left: 588px;}
#gnb li.m5 ul{left: 684px; width: 800px;}

#visual{width: 100%; height: 600px; position: relative;}
#visual .main-banner{width: 100%; height: 600px; overflow: hidden;}
#visual .main-banner li{position: absolute; width: 100%; height: 600px; left: 0; top: 0;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-image: url(../images/visua.png);
						background-size: cover;
					}

#container{height: 100%; width: 1180px; margin: auto;}
#container:after{display: block; content: ''; clear: both;}
#content{}
.inner{height: 700px; background: #dcdcdc;}
.inner h2{font-size: 40px; margin-top: 40px;}

#footer{width: 100%; margin-top: 40px;}
#footer .inner-wrap{width: 1180px; height: 150px; margin: auto;}
#footer address{padding-top: 50px; font-size: 16px;}